/* Applied to the whole webpage.*/
.content {
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    flex-flow: column nowrap;
}

/******************************** TOP BEGINS ********************************/

/* Applied to the top right of the page - The Company Name*/
.header h4{
    font-family: "Brush Script MT";
}

/* Applied to the top portion of the web page. */
.header, .top{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

/* Applied to the unordered list on the header-top portion of the webpage. */
.header ul{
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
    list-style: none;
}

/* Applied to the Design Logo in the top right poriton of the webpage*/
h4 {
    font-weight: 800;
    font-size: 24px;
    color: #F9FAF8;    
    margin-top: 10px;
    margin-left: px;
    margin-bottom: 7px;
    align-self: center;
    justify-self: center;
}

.header {
    justify-content: center;
    padding-bottom: 100px;
}

.header-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    width: 900px;
}

/* Applied to the Content portion of the Top section of the webpage (next to the Leading Image)*/
h3 {
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
    margin-top:0;
    margin-bottom:-15px;
}

.top-content button{
    display:flex;
    margin-top: -10px;
    padding-top: 0px;
    width: 70px;
    background-color: #3882F6;
    color:white;
    
    flex-basis: 0;
}

.top img{
    width:500px;
    height: 200px;
}

.top-content{
    display: flex;
    flex-flow: column nowrap; 
}

.top-box {
    display: flex;
    flex-flow: row nowrap;
    width: 900px;
}

.top {
    padding-bottom: 80px;
}
/************************ TOP ENDS ***********************************/


/************************* MIDDLE BEGINS *******************************/

.middle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.middle-top {
    padding-bottom: 100px;
}

.middle-top h5 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.middle-top ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    gap: 2px;
    padding: 0px;
    width: 900px;
    margin: 0px;
    justify-content: space-evenly;

}

.middle-top ul li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}

.middle-top li img{
    width: 100px;
    height: 100px;
}

/* Quote section */
.middle-middle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    width: 100%;
    padding: 50px;
}

.middle-middle-box {
    font-size: 36px;
    color:#1F2937;
    font-style:italic;
    width: 900px;
}

.middle-middle-box #quote-source {
    display: flex;
    font-weight:900;
    justify-content: flex-end;
    padding-right: 50px;
}

.info-box {
    display: flex;
    flex-flow: row nowrap;
    width:900px;
    background-color: #3882F6;
    padding: 30px;
    margin: 80px;
    justify-content: space-evenly;
    color: white;
}

.info-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    margin: 30px;
}

#bottom-words-header {
    display: flex;
    margin-bottom: -10px;
    font-weight: 900;
    font-size: 25px;
}
/************************* MIDDLE ENDS *********************************/

/************************ BOTTOM BEGINS ********************************/
.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
}
/************************* BOTTOM ENDS *********************************/